*{
    font-size: 12pt;
    font-family: "Verdana", "Geneva", sans-serif;
}

/* form styles */
fieldset {
    background-color: grey;
    border: 2px outset gray;
    border-radius: 10px;
    margin: auto;
    width: 35%;
    padding: 10px;
}
legend {
    text-align: center;
    background-color: pink;
    border: 2px outset gray;
    margin: auto;
    width: 30%;
    padding: 10px;
}
/* the bold text labels to the left of each form field */
fieldset strong,
ul strong,
fieldset label.left,
fieldset .column {
    float: left;
    width: 11em;
}
h1{
    text-align: center;
}
select{

    margin: auto;
    padding: 10px
}