.navBar ul{
    font-size: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar li{
    float: left;
    padding-left: 5px;
    border-right: 1px solid #bbb;

}
.naveBar li a{
    display: block;
    color: white;
    text-align: center;
}

/*Provided by W3 Schools | Slide show CSS Section */
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: grey;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Six columns side by side */
.column {
    float: left;
    width: 20%;
}
/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
.active, .demo:hover {
    opacity: 1;
}